.section-1 {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: grid;
    place-items: center;
    position: relative;
}

.slide-1 h2 {
    position: absolute;
    top: 50%;
    left: 36%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: clamp(1.9rem, 3vw + 1rem, 3.4rem);
    line-height: 1.2;
    color: #fff;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.section-2,
.section-3,
.section-4,
.section-5 {
    padding: 50px;
}

.section-2-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.section-2 .section-2-img {
    width: 40%;
}

.section-2-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 1.2rem;
}

.section-2 .header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.section-2 .header div {
    font-weight: 700;
    font-size: clamp(1.875rem, 2vw + 1rem, 2.9rem);
    line-height: 1.15;
    color: #1e2858;
}



.section-2-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.45;
    letter-spacing: 0.5px;
    color: #313131;
}

.actual-4 {
    background-color: #f3f3f3;
    height: auto;
    display: grid;
    place-items: center;
}

.section-4-header {
    padding-bottom: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.section-4-header div {
    width: 100%;
    font-weight: 700;
    font-size: clamp(1.875rem, 2vw + 1rem, 2.9rem);
    line-height: 1.15;
    color: #1e2858;
    text-align: start;
}


.section-4-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

}

.section-4-a {
    width: 45%;
    font-size: clamp(0.8rem, 2vw + 1rem, 1.7rem);
    line-height: 1.5;
    letter-spacing: 0.5px;
    color: #1e2858;
}


.first-1 {
    font-size: clamp(0.8rem, 2vw + 1rem, 1.5rem);
}

.section-4-b {
    width: 55%;
    font-size: 16px;
    line-height: 1.7;
    padding-left: 120px;
    color: #313131;

}

.actual-4-b p {
    width: 55%;
    font-size: 16px;
    line-height: 1.7;
    color: #313131;
    text-align: start;
}


@media screen and (min-width:768px)and (max-width:1025px) {
    .slide-1 h2 {
        left: 40%;
    }

    .section-4-b {
        padding-left: 30px;
    }
}

@media screen and (max-width:767px) {


    .slide-1 h2 {
        width: 71%;
        line-height: 1.1;
        left: 45%;
    }

    .section-1 {
        height: 70vh;
    }

    .section-2 .header div,
    .section-4-header div {
        font-size: 30px;
    }

    .section-2 .header span {
        display: block;
    }

    .section-2-a,
    .section-4-main {
        flex-direction: column;
    }

    .section-4 {
        place-items: flex-start;
    }

    .section-4-header {
        align-items: flex-start;
    }

    .section-4-main {
        gap: 2rem;
        padding: 0px;
        margin-bottom: 2rem;
    }

    .section-2 .header {
        margin-bottom: 0px;
    }

    .actual-4-b p {
        width: 100%;

    }

    .section-4-header {
        padding-bottom: 1.2rem;
    }

    .section-2 .header {
        padding-bottom: 0px;
    }

    .section-2 .section-2-img,
    .section-2-text {
        width: 100%;
    }

    .section-2-p {
        font-size: 16px;
        width: 100%;
    }

    .section-4-a,
    .section-4-b {
        width: 100%;
        padding: 0px;
    }

    .section-2,
    .section-4 {
        padding: 2.18rem;
    }


}

@media screen and (max-width:280px) {
    .slide-1 h2 {
        font-size: 1.6rem;
    }
}